body {
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    margin:0; padding: 0;
}

header {
    margin:0; padding: 0;
    width: 100%;
}

header h1 {
    margin: 0;
    color: gray;
    padding: 1em;
}

a {
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    color: royalblue;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: solid 1px #eee;
}

nav ul li {
    margin: 0;
    padding: 1em 2em;
    border-top: solid 1px #eee;
}

nav ul li a {
    color:  orangered;
    padding: 0em 1em;
    border: solid 1px white;
}

nav ul li a:hover {
    border-bottom: solid 1px orangered;
}

header h2 {
    display: block;
    padding: 0em 1.5em;
}

section#listaComp{
    width: 60%;            
    float: left;
    margin: 1em 0;
    padding: 0 3% 0 2%;
}

section.listado_competiciones_fila {
    width: 100%;  
    padding: 1.5em;
    border-bottom: solid 1px #eee;
    clear: both;
}

section#fila2.listado_competiciones_fila {
    width: 100%;  
    padding: 1.5em;
    padding-bottom: 3.5em;
    border-bottom: solid 1px #eee;
    clear: both;
}

section img.logo {
    float: left;
    width: 100px;
    height: 100px;
    margin: 0px 10px 0px 0px;
}

section#listaComp a {
    color: black;
    font-size: 2vw;
    font-weight: normal;
    font-variant: normal;
}

section#listaComp a:hover{
    color: orangered;
}

section div.descripcion{
    font-size: 1.8vw;
    color: gray;
    text-align: justify;
}


section#listaPart {
    width: 35%;
    float: left;
}

section#listaPart li.Partido {
    width: 100%;  
}

section#listaPart h3, aside h3 {
    padding: 0em 2em;
    font-size: 1.125em;
}

section#listaPart div.grupoPart {
    clear: both;
}

section#listaPart ul {
    list-style: none;
}

section#listaPart ul li {
    clear: both;
}

section#listaPart ul li a {
    color: black;
    font-variant: normal;
    font-weight: normal;
    border-bottom: solid 1px #eee;
}

section#listaPart ul li a:hover{
    color: orangered;
}


@media screen and (max-width: 820px) {

    section.listado_competiciones_fila {
	margin: 0px 0px 0px -25px;
        width: 80%;
    }

    section#fila2.listado_competiciones_fila {
	width: 80%;
    }

    section#listaComp a {
        color: black;
        font-size: 19px;
        font-weight: normal;
        font-variant: normal;
    }

    section div.descripcion{
        font-size: 17px;
        color: gray;
        text-align: justify;
    }

    section img.logo{
        display: none;
    }

    section#listaComp{
        width: 100%; 
	padding: 0em 2.3em;          
    }

    section#listaPart {
        width: 100%;
	padding: 0em 0em;
    }

}
