body {
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    margin:0; padding: 0;
}

header {
    margin:0; padding: 0;
    width: 100%;
}

header h1 {
    margin: 0;
    color: gray;
    padding: 1em;
}

section {
    width: 100%;
}

section h2 {
    float: left;
}

section a#volver {
    color:  orangered;
    margin: 28px 0px 0px 20px;
}

section a#volver:hover {
    border-bottom: solid 1px orangered;
}

a {
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    color: royalblue;
}

section a:hover {
    color: orangered;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: solid 1px #eee;
}

nav ul li {
    margin: 0;
    padding: 1em 2em;
    border-top: solid 1px #eee;
}

nav ul li a {
    color:  orangered;
    padding: 0em 1em;
    border: solid 1px white;
}

nav ul li a:hover {
    border-bottom: solid 1px orangered;
}

section {
    background-color: white;
    padding: 1em 2em;
}

section ul {
    list-style: none;
    margin: 0; padding: 0;
}

section input {
    margin: 0.5em 0;
    font-size: 1em;
    padding: 0.2em;

}

div#botones {
    border-bottom: solid 1px #eee;
    clear: left;
}

.boton {
    padding: 5px 15px;
    margin: 0px 0px 20px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: orangered;
    border: none;
    border-radius: 10px;
    box-shadow: 0 9px #999;
}

.boton:hover {
    background-color: orangered
}

.boton:focus {
    background-color: orangered;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}

div.imagen {
    width: 50px;
    background-color: white;
    box-shadow: 0 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    margin-top: 10px;
    margin: 10px 30px 20px 0px;
    float: left;
}

div.contenedor {
    text-align: center;
    padding: 0px 0px 0px 0px;
}

div.imagen a {
    font-variant: normal;
    font-weight: normal;
    color: black;
}

div.imagen a:hover {
    color: orangered;
}

table {
    margin: 10px 0px 0px 0px;
    padding: 0;
    width: 100%;
}

th {
    background: #aaa;
    color: #fff;            
}

tr:nth-of-type(odd) { 
    background: #eee; 
}

td {
    padding: 5px;
}


td a {
    color: black;
    font-variant: normal;
    font-weight: normal;
}


@media screen and (max-width: 710px) {

    section a#volver {
        color:  orangered;
        margin: 0px 0px 20px 0px;
    }

    .boton{
	    padding: 4px 5px;
    }

    th {                 
        position: absolute;
        top: -9999px;
	left: -9999px;            
    }
    
    table, th, td, tr { 
	clear:left;
	display: block; 
    }
    
    td {
        padding: 3px;
        position: relative;
        padding-left: 50%;  
    }
            
    td:before {
    	position: absolute;
    	top: 6px;
    	left: 5%;
    	width: 45%; 
        white-space: nowrap;               
    }

    td:nth-of-type(1):before { content: "Jornada";}
    td:nth-of-type(2):before { content: "Fecha";}
    td:nth-of-type(3):before { content: "Hora"; }
    td:nth-of-type(4):before { content: "Local"; }
    td:nth-of-type(5):before { content: "Visitante"; }
    td:nth-of-type(6):before { content: "Result."; }
    td:nth-of-type(7):before { content: "Partido"; }
}
